p {
  margin-bottom: 0;
}

.q-img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.text-underline {
  text-decoration: underline;
}
